/******************************************************************************/
/*  Global                                                                    */
/******************************************************************************/

body {
  font-family: 'Arimo', sans-serif;
	font-size: 11pt;
	line-height: 1.75em;
	color: #4c4c4c;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, ul li {
  margin: 0;
  padding: 0;
  display: block;
}


/******************************************************************************/
/*  Header                                                                    */
/******************************************************************************/


/******************************************************************************/
/*  Body                                                                      */
/******************************************************************************/



/******************************************************************************/
/*  Footer                                                                    */
/******************************************************************************/
